.buscador{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    input{
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        font-family: $font;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
    }

    .boton-buscar{
        font-family: $font;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
    }

    .boton-inactivo{
        background: #E6E6E6;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        color: #B4B4B4;

        .lupa{
            filter: invert(86%) sepia(0%) saturate(1%) hue-rotate(150deg) brightness(86%) contrast(88%);
        }
    }

    .boton-activo{
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        color: #110038;
        
        .lupa{
            filter: invert(8%) sepia(40%) saturate(4601%) hue-rotate(220deg) brightness(92%) contrast(130%);
        }
    }

    .boton-activo:hover{
        background: #E6BBE2;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        font-family: $font;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 18px;

        .lupa{
            filter: invert(8%) sepia(40%) saturate(4601%) hue-rotate(220deg) brightness(92%) contrast(130%);
        }
    }

    .boton_sug{
        font-family: $font;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }
    
    .boton_sug:hover{
        font-family: $font;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        background: #DBDBDB;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }
}

.busquedas{
    position: absolute;
    margin-top: 94px;
    z-index: 3;
}