.header{
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

    .close{
        height: 14px;
        width: 16px;
    }
}

#div_resultados{
    display: none;
}

#busquedas_sug{
    display: none;
}