.crear-gifos{
    .alert-crear{
        font-family: $font;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    }
    
    ul{
        list-style-type:none;
    }
    
    b.oblique{
        font-style: oblique;
    }
    
    .boton{  
        font-family: $font;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        min-width: 144px;
        min-height: 36px;
        max-height: 36px;
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    }
    
    .boton:hover{
        background: #CE36DB;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    }

    .camera{
        min-width: 36px;
    }

    .marco-video{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }

    .marco-imagen{
        display: none;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        width: 640px;
        height: 480px;
    }

    #fin_grabar{
        display: none;

        .boton{
            font-family: $font;
            color: $color;
            letter-spacing: 0;
            line-height: 18px;
            font-size: 16px;
            min-width: 144px;
            min-height: 36px;
            max-height: 36px;
            background: #FF6161;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
        }

        .recording{
            min-width: 36px;
        }
    }

    #pre_subida{
        display: none;
    }

    #subiendo{
        display: none;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }

    #confirmacion{
        display: none;
    }

    .subiendo-gifos{
        font-family: ChakraPetch-Bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
    }
}

#div_mis_gifos{
    img{
        height: 19rem;
        width: 19rem;
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
}
