$font: 'ChakraPetch-Regular', sans-serif;
$color: #110038;

@import './style_day.scss';
@import './style_night.scss';

.logo{
    width: 102.6px;
    height: 64px;    
}

body{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    

}