body {
  box-sizing: border-box;
  border: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  body #logo {
    width: 102.6px;
    height: 64px; }
  body #back {
    width: 102.6px;
    height: 64px; }

.body_day {
  background-color: #FFFFFF; }
  .body_day .header {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); }
    .body_day .header .close {
      height: 14px;
      width: 16px; }
  .body_day #div_resultados {
    display: none; }
  .body_day #busquedas_sug {
    display: none; }
  .body_day .title {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038; }
    .body_day .title p {
      margin: 0px;
      padding: 3px 0px 4px 7px;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0; }
  .body_day .mis-gifos a {
    text-decoration: none;
    min-width: 76px;
    font-family: "ChakraPetch-Regular", sans-serif;
    color: #110038;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    border: 1px solid white; }
  .body_day .mis-gifos a:hover {
    border: 1px solid #110038; }
  .body_day .mis-gifos a:active {
    color: #110038;
    border: 1px solid white; }
  .body_day .mis-gifos a::first-letter {
    text-decoration: underline; }
  .body_day .boton {
    font-family: "ChakraPetch-Regular", sans-serif;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    font-size: 16px;
    min-width: 144px;
    min-height: 36px;
    max-height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .boton:hover {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .boton:active {
    color: #110038;
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .arrow {
    min-width: 36px; }
    .body_day .arrow .flechita {
      filter: invert(5%) sepia(78%) saturate(3893%) hue-rotate(239deg) brightness(86%) contrast(117%); }
  .body_day .opciones {
    display: none;
    z-index: 10;
    position: absolute;
    margin-top: 36px;
    min-width: 180px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
    .body_day .opciones button {
      text-align: left;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px; }
    .body_day .opciones button::first-letter {
      text-decoration: underline; }
    .body_day .opciones .button-day {
      background: #FFF4FD;
      border: 1px solid #CCA6C9;
      box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }
    .body_day .opciones .button-night {
      background: #F0F0F0;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .buscador {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
    .body_day .buscador input {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px; }
    .body_day .buscador .boton-buscar {
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 18px; }
    .body_day .buscador .boton-inactivo {
      background: #E6E6E6;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      color: #B4B4B4; }
      .body_day .buscador .boton-inactivo .lupa {
        fill: #B4B4B4; }
    .body_day .buscador .boton-activo {
      background: #F7C9F3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
      color: #110038; }
      .body_day .buscador .boton-activo .lupa {
        fill: #110038; }
    .body_day .buscador .boton-activo:hover {
      background: #E6BBE2;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 18px; }
      .body_day .buscador .boton-activo:hover .lupa {
        filter: invert(8%) sepia(40%) saturate(4601%) hue-rotate(220deg) brightness(92%) contrast(130%); }
    .body_day .buscador .boton_sug {
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px;
      background: #F0F0F0;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
    .body_day .buscador .boton_sug:hover {
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px;
      background: #DBDBDB;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .busquedas {
    position: absolute;
    margin-top: 94px;
    z-index: 3; }
  .body_day .hist-busc {
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px; }
  .body_day .sugerencias .titulo {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D; }
  .body_day .sugerencias .card-small {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
    .body_day .sugerencias .card-small .imagen {
      height: 19rem;
      width: 19rem;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .body_day .sugerencias .card-small .imagen button {
        background: #4180F6;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        font-family: "ChakraPetch-Regular", sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px; }
      .body_day .sugerencias .card-small .imagen button:hover {
        background: #3A72DB;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }
    .body_day .sugerencias .card-small a {
      font-family: ChakraPetch-Bold;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0; }
  .body_day .titulo {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D; }
  .body_day .card-result .header {
    display: none;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); }
  .body_day .card-result .imagen {
    height: 19rem;
    width: 19rem;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .body_day .card-result .imagen button {
      background: #4180F6;
      border: 1px solid #4C2F99;
      box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px; }
    .body_day .card-result .imagen button:hover {
      background: #3A72DB;
      border: 1px solid #4C2F99;
      box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }
  .body_day .card-result a {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0; }
  .body_day .card-result .marco {
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }
  .body_day .crear-gifos .alert-crear {
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  .body_day .crear-gifos ul {
    list-style-type: none; }
  .body_day .crear-gifos b.oblique {
    font-style: oblique; }
  .body_day .crear-gifos .boton {
    font-family: "ChakraPetch-Regular", sans-serif;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    font-size: 16px;
    min-width: 144px;
    min-height: 36px;
    max-height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .crear-gifos .boton:hover {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  .body_day .crear-gifos .camera {
    min-width: 36px; }
  .body_day .crear-gifos .marco-video {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
  .body_day .crear-gifos .marco-imagen {
    display: none;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 640px;
    height: 480px; }
  .body_day .crear-gifos #fin_grabar {
    display: none; }
    .body_day .crear-gifos #fin_grabar .boton {
      font-family: "ChakraPetch-Regular", sans-serif;
      color: #110038;
      letter-spacing: 0;
      line-height: 18px;
      font-size: 16px;
      min-width: 144px;
      min-height: 36px;
      max-height: 36px;
      background: #FF6161;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; }
    .body_day .crear-gifos #fin_grabar .recording {
      min-width: 36px; }
  .body_day .crear-gifos #pre_subida {
    display: none; }
  .body_day .crear-gifos #subiendo {
    display: none;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
  .body_day .crear-gifos #confirmacion {
    display: none; }
  .body_day .crear-gifos .subiendo-gifos {
    font-family: ChakraPetch-Bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px; }
  .body_day #div_mis_gifos img {
    height: 19rem;
    width: 19rem;
    background-size: 100% 100%;
    background-repeat: no-repeat; }

.body_night {
  background-color: #110038; }
  .body_night .header {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }
    .body_night .header .close {
      height: 14px;
      width: 16px; }
  .body_night #div_resultados {
    display: none; }
  .body_night #busquedas_sug {
    display: none; }
  .body_night .title {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038; }
    .body_night .title p {
      margin: 0px;
      padding: 3px 0px 4px 7px;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0; }
  .body_night .mis-gifos a {
    text-decoration: none;
    min-width: 76px;
    font-family: "ChakraPetch-Regular", sans-serif;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    border: 1px solid #110038; }
  .body_night .mis-gifos a:hover {
    border: 1px solid white; }
  .body_night .mis-gifos a:active {
    color: #110038;
    border: 1px solid #110038; }
  .body_night .mis-gifos a::first-letter {
    text-decoration: underline; }
  .body_night .boton {
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    min-width: 144px;
    min-height: 36px;
    max-height: 36px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .boton:hover {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .boton:active {
    color: #110038;
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .arrow {
    min-width: 36px; }
    .body_night .arrow .flechita {
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(173deg) brightness(102%) contrast(101%); }
  .body_night .opciones {
    display: none;
    z-index: 10;
    position: absolute;
    margin-top: 36px;
    min-width: 180px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF; }
    .body_night .opciones button {
      text-align: left;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px; }
    .body_night .opciones button::first-letter {
      text-decoration: underline; }
    .body_night .opciones .button-day {
      background: #CCCCCC;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
    .body_night .opciones .button-night {
      color: #FFFFFF;
      background: #2E32FB;
      border: 1px solid rgba(51, 53, 143, 0.2);
      box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .buscador {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF; }
    .body_night .buscador input {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px; }
    .body_night .buscador .boton-buscar {
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 18px; }
    .body_night .buscador .boton-inactivo {
      background: #B4B4B4;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      color: #8F8F8F; }
      .body_night .buscador .boton-inactivo .lupa {
        fill: #8F8F8F; }
    .body_night .buscador .boton-activo {
      background: #EE3EFE;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
      color: #FFFFFF; }
      .body_night .buscador .boton-activo .lupa {
        fill: #FFFFFF; }
    .body_night .buscador .boton_sug {
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px;
      background: #CCCCCC;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .busquedas {
    position: absolute;
    margin-top: 94px;
    z-index: 3; }
  .body_night .hist-busc {
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px; }
  .body_night .sugerencia {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D; }
  .body_night .card-small {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
    .body_night .card-small .imagen {
      height: 280px;
      width: 280px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .body_night .card-small .imagen button {
        background: #4180F6;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        font-family: "ChakraPetch-Regular", sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px; }
      .body_night .card-small .imagen button:hover {
        background: #3A72DB;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }
    .body_night .card-small a {
      font-family: ChakraPetch-Bold;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      border: none; }
  .body_night .titulo {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D; }
  .body_night .card-result .header {
    display: none;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }
  .body_night .card-result .imagen {
    height: 19rem;
    width: 19rem;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .body_night .card-result .imagen button {
      background: #4180F6;
      border: 1px solid #4C2F99;
      box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
      font-family: "ChakraPetch-Regular", sans-serif;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px; }
    .body_night .card-result .imagen button:hover {
      background: #3A72DB;
      border: 1px solid #4C2F99;
      box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }
  .body_night .card-result a {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0; }
  .body_night .card-result .marco {
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF; }
  .body_night .crear-gifos .alert-crear {
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF; }
  .body_night .crear-gifos ul {
    list-style-type: none; }
  .body_night .crear-gifos b.oblique {
    font-style: oblique; }
  .body_night .crear-gifos .boton {
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    min-width: 144px;
    min-height: 36px;
    max-height: 36px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .crear-gifos .boton:hover {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }
  .body_night .crear-gifos .camera {
    min-width: 36px; }
  .body_night .crear-gifos .marco-video {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
  .body_night .crear-gifos .marco-imagen {
    display: none;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 640px;
    height: 480px; }
  .body_night .crear-gifos #fin_grabar {
    display: none; }
    .body_night .crear-gifos #fin_grabar .boton {
      font-family: "ChakraPetch-Regular", sans-serif;
      color: #110038;
      letter-spacing: 0;
      line-height: 18px;
      font-size: 16px;
      min-width: 144px;
      min-height: 36px;
      max-height: 36px;
      background: #FF6161;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; }
    .body_night .crear-gifos #fin_grabar .recording {
      min-width: 36px; }
  .body_night .crear-gifos #pre_subida {
    display: none; }
  .body_night .crear-gifos #subiendo {
    display: none;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
  .body_night .crear-gifos #confirmacion {
    display: none; }
  .body_night .crear-gifos .subiendo-gifos {
    font-family: ChakraPetch-Bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px; }
  .body_night #div_mis_gifos img {
    height: 19rem;
    width: 19rem;
    background-size: 100% 100%;
    background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
