$font: 'ChakraPetch-Regular', sans-serif;
$color: #110038;

body{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo{
        width: 102.6px;
        height: 64px;    
    }
}


.body_day{
    background-color: #FFFFFF;
    @import './d_general.scss';
    @import './d_header.scss';
    @import './d_buscador.scss';
    @import './d_sugerencias.scss';
    @import './d_resultados.scss';

}

.body_night{
    background-color: $color;
    @import './n_general.scss';
    @import './n_header.scss';
    @import './n_buscador.scss';
    @import './n_sugerencias.scss';
    @import './n_resultados.scss';
}


