$font: 'ChakraPetch-Regular', sans-serif;
$color: #110038;

body{
    background-color: white;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header{
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        box-shadow: 0 1px 0 0 #110038;
        
        p{
            margin: 0px;
            padding: 3px 0px 4px 7px;
            font-family: $font;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
        }      
    }

    section{
        display: flex;
        justify-content: center;
        .banner{
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
            margin-bottom: 16px;
            width: 85%;
            .logo{
                width: 100%;
                img{
                    width: 102.6px;
                    height: 64px;
                }    
            }
            .botones{
                display: flex;
                align-items: center;

                button{
                    padding: 0px;
                    font-family: $font;
                    color: $color;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    font-size: 16px;
                    width: 144px;
                    height: 36px;
                    margin-right: 16px;
                    background: #F7C9F3;
                    border: 1px solid $color;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }

                button:hover{
                    background: #E6BBE2;
                    border: 1px solid $color;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }

                button:active{
                    color: $color;
                    background: #E6BBE2;
                    border: 1px solid $color;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }

                .elegir{
                    display: flex;
                    margin-right: 16px;
                    button{
                        margin-right: 0px;
                    }
                    .flecha{
                        width: 36px;
                    }
                }

                .opciones{
                    display: none;
                }

                a{
                    text-decoration: none;
                    width: 76px;
                    font-family: $font;
                    color: $color;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 18px;
                }
                a:hover{
                    padding-top: 9px;
                    padding-bottom: 9px;
                    border: 1px solid $color;
                }
                a:active{
                    color:$color;
                    border: 0px;
                }
                a::first-letter{
                    text-decoration: underline;
                }
            }
        }
    }

}